// Browse Document
@use "variables" as *;

#browse-keywords-btn {
  color: $k4bl-primary-color;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
  }
}

// Sort options on gallery
#sort-options {
  .sort-option-item {
    label, input[type="radio"], input[type="checkbox"] {
      cursor: pointer;
    }
  }

  #sort-clear-btn {
    font-size: 0.85rem;
  }
}
